<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>
    <typeAliases>
        <package name="com.example.springmvcexample.mybatis.entity" />
    </typeAliases>
    <mappers>
            <mapper resource="region.xml" />
            <mapper resource="country.xml" />
            <mapper resource="User.xml" />
        <mapper resource="Location.xml" />
        <mapper resource="Department.xml" />
        <mapper resource="Employee.xml" />
        <mapper resource="JobHistory.xml" />
        <mapper resource="Job.xml" />
        <mapper resource="SalGrade.xml" />
        <mapper resource="Common.xml" />
<!--            <mapper resource="com/example/springmvcexample/mybatis/mapper/SalGrade.xml" />-->
    </mappers>

</configuration>
