<!doctype html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
<script src="../../static/bootstrap/js/jquery-3.4.1.min.js" th:src="@{/bootstrap/js/jquery-3.4.1.min.js}"></script>
<script src="../../static/bootstrap/js/popper.min.js" th:src="@{/bootstrap/js/popper.min.js}"></script>
<script src="../../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<title>内联文本</title>
</head>
<body>
	<div class="container">
		<h4 class="text-center text-secondary">内联文本</h4>
		<div class="row justify-content-center">
			<table class="col-6 table table-sm table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>表达式</th>
						<th>结果</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>&#91;&#91;${code}&#93;&#93;</td>
						<td><span class="text-danger">[[${code}]]</span></td>
					</tr>
					<tr>
						<td>&#91;(${code})&#93;</td>
						<td><span class="text-danger">[(${code})]</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
