<!doctype html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
<script src="../../static/bootstrap/js/jquery-3.4.1.min.js" th:src="@{/bootstrap/js/jquery-3.4.1.min.js}"></script>
<script src="../../static/bootstrap/js/popper.min.js" th:src="@{/bootstrap/js/popper.min.js}"></script>
<script src="../../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<title>js和css自然模板</title>
<style th:inline="css">
p {
  font-size: /*[(${fontSize})]*/ 1.5em;
  color: /*[(${color})]*/ blue;
  text-align: /*[(${textAlign})]*/ right;
  font-weight: /*[(${fontWeight})]*/ normal;
}
</style>
</head>
<body>
	<div class="container">
		<h4 class="text-center text-secondary">js和css自然模板</h4>
		<div class="row justify-content-center">
			<div class="col-4 border border-info rounded-lg">
				<p id="president">董事长名字</p>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		var president = /*[[${president}]]*/{
			"id" : 100,
			"firstName" : "唐纳德",
			"lastName" : "特朗普"
		};
		$('#president').text(president.firstName + ' ' + president.lastName);
	</script>
</body>
</html>
